<!DOCTYPE html>

<script src="pkgs/htmx.min.js" defer></script>

<html>
    <head>
        <title>eTrash FM</title>
        <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
        <link rel="stylesheet" type="text/css" href="css/site.css" />
        <link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
    </head>

    <body>

        <h1>eTrash FM</h1>

        <div id="vibe_check"
            hx-get="http://localhost:8000/getcurrentvibe"
            hx-target="#the_vibe"
            hx-swap="innerHTML"
            hx-trigger="load, every 5s">
            <p id="vibe_check">Current vibe:&nbsp;</p>
            <p id="the_vibe"></p>
        </div>

        <div id="vibe_selector">
            <form hx-post="http://localhost:8000/setcurrentvibe" hx-target="#vibe_result" hx-swap="innerHTML settle:3s">
                <label for="vibe">Choose a vibe:</label>
                <select name="vibe">
                    <option value="any">Any</option>
                    <option value="christmas">Christmas</option>
                    <option value="dance">Dance / Electronic / Pog</option>
                    <option value="punk">Punk / Ska</option>
                    <option value="metal">Metal</option>
                    <option value="funk">Funk</option>
                    <option value="indie">Indie / Rock</option>
                    <option value="chill">Chill</option>
                    <option value="real">Real</option>
                    <option value="meme">Meme</option>
                </select>
                <button class="thin_button">Vibe!</button>
            </form>
            <p class="message" id="vibe_result"></p>
        </div>

        <div id="player"></div>

        <script src="js/bundle.js"></script>

        <div id="vibe_updater">
            <form hx-post="http://localhost:8000/submitvibe" hx-target="#vibe_submit_result" hx-swap="innerHTML settle:3s">
                <label for="vibe">Update vibe for current song:</label>
                <select name="vibe">
                    <option value="christmas">Christmas</option>
                    <option value="dance">Dance / Electronic / Pog</option>
                    <option value="punk">Punk / Ska</option>
                    <option value="metal">Metal</option>
                    <option value="funk">Funk</option>
                    <option value="indie">Indie / Rock</option>
                    <option value="chill">Chill</option>
                    <option value="real">Real</option>
                    <option value="meme">Meme</option>
                </select>
                <button class="thin_button">Send</button>
            </form>
            <p class="message" id="vibe_submit_result"></p>
        </div>

        <div>
            <button hx-get="http://localhost:8000/skipcurrentsong"
                hx-trigger="click"
                hx-target="#player_notifications"
                hx-swap="innerHTML settle:3s">
                Skip current song
            </button>
            <button hx-get="http://localhost:8000/forgetcurrentsong"
                hx-trigger="click"
                hx-target="#player_notifications"
                hx-swap="innerHTML settle:3s">
                Forget current song
            </button>
        </div>
        <p class="message" id="player_notifications"></p>

        <br>
        <div id="queue_song_box">
            <form hx-post="http://localhost:8000/addsongtoqueue" hx-target="#queue_song_result" hx-swap="innerHTML settle:3s">
                <div>
                    <input name="youtubeVideoURL" type="text" placeholder="Youtube Link" hx-on::after-request="this.reset()">
                </div>
            <button>Queue song</button>
            </form>
            <p class="message" id="queue_song_result"></p>
        </div>

        <div id="queue"
            hx-get="http://localhost:8000/getqueue"
            hx-target="#queue"
            hx-swap="innerHTML"
            hx-trigger="load, every 5s">
        </div>


    </body>
</html>
