<!DOCTYPE html>

<script src="pkgs/htmx.min.js" defer></script>

<html>
    <head>
        <title>eTrash FM</title>
        <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
        <link rel="stylesheet" type="text/css" href="css/site.css" />
        <link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
    </head>

    <body>

        <h1>eTrash FM</h1>

        <div id="player"></div>

        <script src="js/bundle.js"></script>

        <br>
        <div id="queue_song_box">
            <form hx-post="http://localhost:8000/addsongtoqueue" hx-target="#queue_song_result" hx-swap="innerHTML">
                <div>
                    <input name="youtubeVideoURL" type="text" placeholder="Youtube Link">
                </div>
            <button>Queue song</button>
            </form>
            <p id="queue_song_result"></p>
        </div>

        <div id="forget_song_box">
            <form hx-post="http://localhost:8000/forgetsong" hx-target="#forget_song_result" hx-swap="innerHTML">
                <div>
                    <input name="youtubeVideoURL" type="text" placeholder="Youtube Link">
                </div>
            <button>Forget song</button>
            </form>
            <p id="forget_song_result"></p>
        </div>

        <div id="queue"
            hx-get="http://localhost:8000/getqueue"
            hx-target="#queue"
            hx-swap="innerHTML"
            hx-trigger="load, every 5s">
        </div>

        <button hx-get="http://localhost:8000/skipcurrentsong"
        hx-trigger="click">
        Skip current song
        </button>
    </body>
</html>
