h1 {
  color: white;
  font-family: 'Tomorrow', sans-serif;
  font-size: 60px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

h2 {
  color: white;
  font-family: 'Tomorrow', sans-serif;
  font-size: 20px;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: black;
  color: white;
  background-color:#2b2b2b;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  margin-top: 10px;
  color: white;
  font-size: 16px;
  text-align: center;
}

form {
  margin-top: 15px;
  margin-bottom: 15px;
  vertical-align: middle;
  align-content: center;
}

button {
  background-color: blueviolet;
  color: white;
  margin: 0.5rem;
  padding: 0.5rem;
  border: solid 1px;
  border-color: white;

}

a {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Player */
#player {
  background-color: blueviolet;
  padding: 2rem;
}

/* UI */
#vibe_check {
  display: inline-flex;
}

#vibe_selector {
  display: table;
}

#queue_song_box {
  text-align: center;
  margin: auto;
}

#remove_song_box {
  text-align: center;
  margin: auto;
}

#forget_song_box {
  text-align: center;
  margin: auto;
}

.queue_entry {
  display: flex;
}

.message {
  color: blueviolet;
  opacity: 0;
}

.message.htmx-settling {
  opacity: 1;
  transition: opacity 50ms ease-in;
}

/* BUTTONS */
.thin_button {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

/* BACKLOG */
#nav_button {
  display: block;
  align-self:start;
  margin-left: 1rem;
  height: 1rem;
}

table {
  border-collapse: collapse;
}

table, th,td {
  padding: 1rem;
  border: 1px solid;
  text-align: center;
}